html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
}

body {
  width: 100%;
  height: 100vh;
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding-top: 4rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem; 
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  font-style: italic;
}

footer {
  width: 30%;
  text-align: center;
}

button {
  padding: 2%;
  border-radius: 5px;
}
button a {
  text-decoration: none;
  color: #333;
}

nav .active {
  background-color: #9996a0;
}

nav button:hover {
  background-color: #9996a0;
}


@media screen and (max-width: 1280px) {
  .quote, .author {
    font-size: 1.5rem;
    transition: font-size 3s ease;
  }
  
}
@media screen and (max-width: 760px) {
  .quote, .author {
    font-size: 1.2rem;
    transition: font-size 3s ease;
  }
  
}
  